@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}
#nav{
    top: 0;
    height: 100px;
    width: 100%;
    padding: 0 50px;
    position: fixed;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav>h1{
    font-size: 31px;
    font-weight: 108;
}
#nav #part2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav #part2 a{
    text-decoration: none;
    color: #222;
    margin: 20px;
}
#nav #part2 a:nth-last-child(1){
    /* background-color: yellow; */
    padding: 7px 18px;
    border-radius: 50px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}
#nav #part2 a:nth-last-child(1) h5{
    font-weight: 500;
    position: relative;
    z-index: 2;
}
#nav #part2 a:nth-last-child(1) #green{
    height: 100%;
    width: 100%;
    background-color: springgreen;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.4s ease;
}
#nav #part2 a:nth-last-child(1):hover #green{
left: 0;
}
#main>h1{
    font-size: 4vw;
    width: 40%;
    z-index: 99;
    text-align: center;
    text-transform: capitalize;
    position: relative;
}
#main>h1::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 16px;
    background-image: url(./underline-green.svg);
    background-size: cover;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0)

}
#main #img1{
    height: 400px;
    position: absolute;
    width: 290px;
    left: 6%;
    top: 20%;
}
#main #img2{
    height: 250px;
    position: absolute;
    width: 260px;
    right: 20%;
    top: 18%;
}
#main #img3{
    height: 300px;
    position: absolute;
    width: 250px;
    right: 7%;
    bottom: 5%;
}
#main img{
    transition: margin 0.8s ease;
}
#main img:hover{
    margin-top: -20px;
}
#page3{
    width: 100%;
    height: 70vh;
    background-color: #000;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#page3 h5{
    font-size: 18px;
    position: relative;
}
#page3 h1{
    font-size: 40px;
    width: 60%;
    margin: 20px 0;
    position: relative;
    text-align: center;
}
#page3 h1::after{
    content: "";
    position: absolute;
    height: 80px;
    width: 200px;
    bottom: -5px;
    left: 29%;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);

}
#page3 h5::before{
    content: "";
    position: absolute;
    left: -7%;
    top: 3px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: springgreen;

}
#page3 #about-us{
    display: flex;
    align-items: center;
    position: relative;
}
#page3 #about-us>h4{
font-size: 25px;
}
#greendiv{
    /* position: relative; */
    display: flex;
align-items: center;
justify-content: center;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50px;
    width: 80px;
    margin-left: 20px;
    /* background-color: springgreen; */
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.4s ease;
    overflow: hidden;
}
#greendiv i{
    font-weight: 100;
    font-size: 40px;
    /* position: absolute; */
}
